body{
    margin: 0px;
    background-color: #cacfd7;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

#header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#sobre{
    padding: 10px;
}
h2{
    margin-left: 9px;
}
#livros{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "livro1" "livro2" "livro3" ;
    row-gap: 50px;
    column-gap: 5px;
    justify-items: center;
}

#livro1{
    grid-area: livro1;
}
#livro2{
    grid-area: livro2;
}
#livro3{
    grid-area: livro3;
}
#livro4{
    grid-area: livro4;
}
.livro{
    background-color: cacfd7;  
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    align-items: stretch;
    height: 43vh;
    padding: 3px;
}
a{
    text-decoration: none;
    color: black;
}
img{
    
}