body{
    margin: 0px;
    background-color: #cacfd7;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

#header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#sobre{
    padding: 10px;
}

.livro{
    background-color: rgb(182, 182, 182);  
    display: inline-block;
    flex-wrap:wrap-reverse;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: stretch;
    height: 50vh;
    padding: 2px;
    gap:10px;
}