body{
    margin: 0px;
    background-color: #ffffff;
}
header{
    background-color: #ffffff;
    color: #fff;
    padding: 0px 0;
    align-items: center;
}

#header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 79px;
    height: 74px;
}
h1 {
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

#sobre{
    padding: 80px;
    text-align: center;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h2{
    margin-left: 80px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
#livros{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "livro1" "livro2" "livro3";
    row-gap: 80px;
    column-gap: 5px;
    justify-items: center;
    text-align: center;
}
#livros3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "livro4" "livro5" "livro6" ;
    row-gap: 50px;
    column-gap: 5px;
    justify-items: center;
    text-align: center;
}
#Compra{
    
}
#livros2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "livro7" "livro8" "livro9" ;
    row-gap: 50px;
    column-gap: 5px;
    justify-items: center;
    text-align: center;
}

.contato{
    text-align: center;
}
.livro{
    background-color:#ffffff;  
    display: inline-block;
    border-radius: 5px;
    align-items: stretch;
    height: 33vh;
    width: 33vh;
}
a{
    text-decoration: none;
    color: black;
}
.imglivro{
    width: 225px;
    height: 300px;
    transition: transform 1s ease; 
}
.imglivro:hover{
    transform: scale(1.1); 
    border: 1px solid black;
}
#buttom{
    width: 140px;
    height: 25px;
}